body {
    cursor: default;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -80px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 80px;
}

#footer {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.center-block {
    float: none !important
}

.hspacer {
    padding-left: 10px;
}

.div-appear.ng-hide-add,
.div-appear.ng-hide-remove {
    -webkit-transition: 0.75s linear all;
    -moz-transition: 0.75s linear all;
    -o-transition: 0.75s linear all;
    transition: 0.75s linear all;
    display: block !important;
}

.table-appear.ng-hide-add,
.table-appear.ng-hide-remove {
    -webkit-transition: 0.75s linear all;
    -moz-transition: 0.75s linear all;
    -o-transition: 0.75s linear all;
    transition: 0.75s linear all;
    display: table !important;
}

.row-appear.ng-hide-add,
.row-appear.ng-hide-remove {
    -webkit-transition: 0.75s linear all;
    -moz-transition: 0.75s linear all;
    -o-transition: 0.75s linear all;
    transition: 0.75s linear all;
    display: table-row !important;
}

.div-appear.ng-hide-remove,
.row-appear.ng-hide-remove,
.table-appear.ng-hide-remove {
    opacity: 0;
}

.div-appear.ng-hide-remove.ng-hide-remove-active,
.row-appear.ng-hide-remove.ng-hide-remove-active,
.table-appear.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.div-appear.ng-hide-add,
.row-appear.ng-hide-add,
.table-appear.ng-hide-add {
    opacity: 1;
}

.div-appear.ng-hide-add.ng-hide-add-active,
.row-appear.ng-hide-add.ng-hide-add-active,
.table-appear.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.navbar {
    border-radius: 0;
}

.tag-input-ctn {
    padding-bottom: 20px;
    display: block;
    overflow: auto;
    cursor: text;
    height: auto;
}

.tag-input-ctn input {
    display: inline-block;
    float: left;
    height: 18px;
    padding: 0px;
    font-size: 13px;
    line-height: 18px;
    color: black;
    border: 0px;
    margin: 2px;
}

.tag-input-ctn input:focus {
    outline: 0;
    box-shadow: 0px;
}

.tag-input-ctn .input-tag {
    padding: 2px 4px;
    line-height: 12px;
    font-size: 11px;
    display: inline-block;
    float: left;
    margin: 2px 5px 2px 0px;
}

.tag-input-ctn .input-tag .delete-tag {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    padding: 0px 2px;
}

.tag-input-ctn .input-tag .delete-tag:hover {
    background-color: #96b4d2;
}