<div class="jumbotron">
	<div class="container">
		<h1><i class="glyphicon glyphicon-user"></i> Authors/Committees</h1>

		<p>Paper authors are the cornerstone of improvements in cutting edge research. Their work drive academic work and provide industrial work with novel
			methods. Similar to conferences, authors extracted are from the <a href="http://www.dblp.org/db/" target="_blank">DBLP dataset</a>. Committee members
			help reviewing publications, provide experience in conference organization, help with their large network and many more. Their work is crucial for
			conference organization. Committee extraction is done through public conference website.</p>
	</div>
</div>

<div class="container" ng-show="data.length > 0">
	<div class="text-center">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="page == 0" ng-click="changePage(page-1)">Previous</button>
			</div>
			<input class="form-control" type="text" placeholder="Filter people" ng-model="data.filterPeople">

			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="data[length - 1].hasMore" ng-click="changePage(page+1)">Next</button>
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-lg-4" ng-repeat="person in data | filter:data.filterPeople">
			<a ng-href="#/people/{{ person.id }}">{{ person.name }}</a>
		</div>
	</div>
</div>