<div class="jumbotron">
	<div class="container">
		<h1><i class="glyphicon glyphicon-user"></i> Author/Committee</h1>
	</div>
</div>

<div class="container" ng-show="data.id">
	<h1>{{ data.name }}<span ng-show="data.hIndex != 0" class="pull-right label label-primary">{{ data.hIndex }}</span></h1>


	<div class="row">
		<div class="col-lg-12" ng-show="data.publications">
			<h2 class="page-header">Publications
				<form class="form pull-right">
					<small><input class="form-control" type="text" ng-model="data.filterPublications" placeholder="Filter publications"></small>
				</form>
			</h2>
			<table class="table">
				<thead>
				<tr>
					<th class="col-lg-8">Title</th>
					<th class="col-lg-2">Book title</th>
					<th class="col-lg-1 text-center">Year</th>
					<th class="col-lg-1 text-center">Details</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="publication in data.publications | filter:data.filterPublications | orderBy:'-year'">
					<td>{{ publication.title }}</td>
					<td>{{ publication.booktitle }}</td>
					<td class="text-center">{{ publication.year }}</td>
					<td class="text-center"><a ng-href="#/publications/{{ publication.id }}"><i class="glyphicon glyphicon-book"></i></a></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-12" ng-show="data.conferences">
			<h2 class="page-header">Conferences
				<form class="form pull-right">
					<small><input class="form-control" type="text" ng-model="data.filterConference" placeholder="Filter conferences"></small>
				</form>
			</h2>
			<table class="table">
				<thead>
				<tr>
					<th class="col-lg-1">Acronym</th>
					<th class="col-lg-8">Title</th>
					<th class="col-lg-2">Keywords</th>
					<th class="col-lg-1 text-center">Details</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="conference in data.conferences | filter:data.filterConference | orderBy:'-year'">
					<td>{{ conference.acronym | uppercase }}</td>
					<td>{{ conference.title }}</td>
					<td><ul class="list-inline"><li ng-repeat="keyword in conference.keywords">{{ keyword }}</li></ul></td>
					<td class="text-center"><a ng-href="#/conferences/{{ conference.id }}"><i class="glyphicon glyphicon-globe"></i></a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>