<div class="jumbotron" ng-show="page == 0">
	<div class="container">
		<h1><i class="glyphicon glyphicon-book"></i> Publications</h1>

		<p>Publications done in conferences are proposed during the call for papers phase. Once reviewed by the conference committee, a publication is presented
			during the venue. Conferences combine publications in a document called proceedings. By extension, publications are called in-proceedings. Each
			publication proposed is extracted from <a href="http://www.dblp.org/db/" target="_blank">DBLP dataset</a> and publisher website extractors (ACM,
			Elsevier, IEEEXplore and Springer).</p>
	</div>
</div>


<div class="container" ng-show="data.length > 0">
	<div class="text-center">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="page == 0" ng-click="changePage(page-1)">Previous</button>
			</div>
			<input class="form-control" type="text" placeholder="Filter publications" ng-model="data.filterPublications">

			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="data[length - 1].hasMore" ng-click="changePage(page+1)">Next</button>
			</div>
		</div>
	</div>
	<br>
	<br>
	<table class="table table-bordered">
		<thead>
		<tr>
			<th class="col-lg-5">Title</th>
			<th class="col-lg-2">Proceedings</th>
			<th class="col-lg-1 text-center">Year</th>
			<th class="col-lg-1 text-center">Pages</th>
			<th class="col-lg-1 text-center">DOI</th>
			<th class="col-lg-1 text-center">URL</th>
			<th class="col-lg-1 text-center">Details</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="publication in data | filter:data.filterPublications">
			<td>{{ publication.title }}</td>
			<td>{{ publication.booktitle }}</td>
			<td class="text-center">{{ publication.year }}</td>
			<td class="text-center">{{ publication.pages }}</td>
			<td class="text-center"><a ng-show="publication.doi" href="{{ publication.doi }}" target="_blank"><i class="glyphicon glyphicon-circle-arrow-down"></i></a></td>
			<td class="text-center"><a ng-show="publication.url" href="{{ publication.url }}" target="_blank"><i class="glyphicon glyphicon-link"></i></a></td>
			<td class="text-center"><a href="#/publications/{{ publication.id }}"><i class="glyphicon glyphicon-book"></i></a></td>
		</tr>
		</tbody>
	</table>
	<div class="text-center">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="page == 0" ng-click="changePage(page-1)">Previous</button>
			</div>
			<input class="form-control" type="text" placeholder="Filter publications" ng-model="data.filterPublications">

			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="data[length - 1].hasMore" ng-click="changePage(page+1)">Next</button>
			</div>
		</div>
	</div>
	<br>
</div>