<div class="jumbotron">
	<div class="container">
		<h1><i class="glyphicon glyphicon-book"></i> Publication</h1>
	</div>
</div>

<div class="container" ng-show="data.id">
	<h1>{{ data.year }} - {{ data.title }}</h1>

	<p>
		<span class="label label-primary pull-right">{{ data.key }}</span>
	</p>

	<p ng-show="data.venue">
		From <i>{{ data.venue.title }}</i> published in <i>{{ data.booktitle }}</i><span ng-show="data.pages"> at pages <i>{{ data.pages }}</i></span>
	</p>

	<p ng-show="data.doi"><a href="{{ data.doi }}" target="_blank">{{ data.doi }}</a></p>

	<p ng-show="data.url"><a href="{{ data.url }}" target="_blank">{{ data.url }}</a></p>

	<div class="col-lg-12" ng-show="data.content">
		<p ng-bind-html="data.content"></p>
	</div>

	<div class="col-lg-12" ng-show="data.authors">
		<h2>Authors</h2>
		<ul class="list-unstyled">
			<li ng-repeat="author in data.authors | filter:data.filterAuthors">
				<span><a href="#/people/{{ author.id }}" class="label label-primary">{{ author.name}}</a></span>
			</li>
		</ul>
	</div>
</div>