<div class="jumbotron">
	<div class="container">
		<h1><i class="glyphicon glyphicon-bullhorn"></i> Call for Papers</h1>
	</div>
</div>

<div class="container" ng-show="data.id">
	<h1>{{ data.acronym | uppercase }} - {{ data.title }}</h1>
	<ul class="list-inline" ng-show="data.conference"><li ng-repeat="keyword in data.conference.keywords"><span class="label label-primary">{{ keyword }}</span></li></ul>
	<p>From <i>{{ data.start | date:'longDate' }}</i> to <i>{{ data.end | date:'longDate' }}</i> <span ng-show="data.location">in <i>{{ data.location }}</i></span> (<a href="{{ data.origin }}" target="_blank">WikiCFP entry</a>)</p>
	<p>Website: <a href="{{ data.website }}" target="_blank">{{ data.website }}</a></p>

	<div ng-show="data.conference">
		<p>Matching conference: <a href="#/conferences/{{ data.conference.id }}">Conference: {{ data.conference.acronym | uppercase }} - {{ data.conference.title }} <i class="glyphicon glyphicon-globe"></i></a></p>
		<p></p>
	</div>

	<h2>WikiCFP entry content</h2>
	<p style="white-space: pre;overflow-wrap: break-word">{{ data.content}}</p>
</div>