<div class="jumbotron">
	<div class="container">
		<h1><i class="glyphicon glyphicon-magnet"></i> Plugins</h1>

		<p>Plugin are what is used to control the website behind the curtains. It involves extensive data extraction, data merging and data processing. Each visible
			plugin currently shown below is connected to the RESTful API ready to work. It is possible to connect to get their status as well as control their
			work.</p>
	</div>
</div>

<div class="container">
	<h1 class="page-header" ng-show="close"><i class="glyphicon glyphicon-magnet"></i> Plugins</h1>

	<div ng-show="data.length > 0">

		<div ng-repeat="plugin in data">
			<div class="well-sm">
				<h1>
					{{ plugin.name }}
					<span class="pull-right">
						<small>
							<a ng-show="plugin.webSocket && !plugin.connected" ng-click="connect(plugin)" class="btn btn-default btn-success" type="button">Connect</a>
							<a ng-show="plugin.webSocket && plugin.connected" ng-click="disconnect(plugin)" class="btn btn-default btn-danger" type="button">Disconnect</a>
						</small>
					</span>
				</h1>
				<p ng-bind-html="plugin.description"></p>

				<div ng-show="plugin.state.state == 'ERROR'" class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Error</strong>

					<p ng-bind-html="plugin.state.text"></p>
				</div>

				<div ng-show="plugin.state.state == 'RUNNING'">
					<h3>Status</h3>

					<div class="col-lg-6">
						<blockquote ng-bind-html="plugin.state.text"></blockquote>
					</div>
					<div class="col-lg-6">
						<div class="col-lg-12" ng-show="plugin.state.progress">
							<p class="text-center">
								<strong>{{ plugin.state.progress }}
									<span ng-show="plugin.state.totalProgress != 0"> / {{ plugin.state.totalProgress }}</span>
								</strong>
							</p>

							<div class="progress progress-striped active">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ plugin.state.progress }}" aria-valuemin="0" aria-valuemax="100"
								     style="{{progressStyle}}">
									<span class="sr-only">20% Complete</span>
								</div>
							</div>
						</div>
						<div class="col-lg-12" ng-show="plugin.state.subProgress">
							<p class="text-center">
								<strong>{{ plugin.state.subProgress }}
									<span ng-show="plugin.state.totalSubProgress != 0"> / {{ plugin.state.totalSubProgress }}</span>
								</strong>
							</p>

							<div class="progress  progress-striped active">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ plugin.state.subProgress }}" aria-valuemin="0"
								     aria-valuemax="100" style="{{progressSubStyle}}">
									<span class="sr-only">20% Complete</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="plugin.connected && plugin.state.state != 'RUNNING'">
				<table class="table table-bordered">
					<tr>
						<th class="col-lg-3">Name</th>
						<th class="col-lg-6">Description</th>
						<th class="col-lg-3">Execute/Value</th>
					</tr>
					<tr ng-repeat="methods in plugin.params.methods" ng-show="plugin.params.methods">
						<td>{{ methods.name }}</td>
						<td><span ng-bind-html="methods.description"></span></td>
						<td><a ng-click="execute(plugin, methods.name)" class="btn btn-default btn-success form-control">{{ methods.label}}</a></td>
					</tr>
					<tr ng-repeat="booleans in plugin.params.booleans" ng-show="plugin.params.booleans">
						<td>{{ booleans.name }}</td>
						<td><span ng-bind-html="booleans.description"></span></td>
						<td><input class="checkbox" type="checkbox" ng-model="booleans.value"></td>
					</tr>
					<tr ng-repeat="doubles in plugin.params.doubles" ng-show="plugin.params.doubles">
						<td>{{ doubles.name }}</td>
						<td><span ng-bind-html="doubles.description"></span></td>
						<td><input class="input-sm form-control" type="text" ng-model="doubles.value"></td>
					</tr>
					<tr ng-repeat="lists in plugin.params.lists" ng-show="plugin.params.lists">
						<td>{{ lists.name }}</td>
						<td><span ng-bind-html="lists.description"></span></td>
						<td><input class="input-sm form-control" type="text" ng-model="lists.value"></td>
					</tr>
					<tr ng-repeat="longs in plugin.params.longs" ng-show="plugin.params.longs">
						<td>{{ longs.name }}</td>
						<td><span ng-bind-html="longs.description"></span></td>
						<td><input class="input-sm form-control" type="text" ng-model="longs.value"></td>
					</tr>
					<tr ng-repeat="strings in plugin.params.strings" ng-show="plugin.params.strings">
						<td>{{ strings.name }}</td>
						<td><span ng-bind-html="strings.description"></span></td>
						<td><input class="input-sm form-control" type="text" ng-model="strings.value"></td>
					</tr>
				</table>
			</div>
		</div>
		<hr>
	</div>
</div>
</div>
