<div class="jumbotron" ng-show="page == 0">
	<div class="container">
		<h1><i class="glyphicon glyphicon-globe"></i> Conferences</h1>

		<p>Academic conferences are one of the most important source of innovation in research fields. By providing a framework to discuss and present
			state-of-the-art work, conference are praised among scientific. All conferences are extracted from <a href="http://www.dblp.org/db/" target="_blank">DBLP
				dataset</a>, freely available, containing short of 4'000 unique conference. Field ranking and publication counts from <a
					href="http://academic.research.microsoft.com/?SearchDomain=2&entitytype=2" target="_blank">Microsoft Academic Search Ranking</a> enhance data and
			recommendation results.</p>
	</div>
</div>

<div class="container" ng-show="data.length > 0">
	<div class="text-center">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="page == 0" ng-click="changePage(page-1)">Previous</button>
			</div>
			<input class="form-control" type="text" placeholder="Filter conferences" ng-model="data.filterConference">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="data[length - 1].hasMore" ng-click="changePage(page+1)">Next</button>
			</div>
		</div>
	</div>
	<br>
	<table class="table table-bordered">
		<thead>
		<tr>
			<th class="col-lg-2">Acronym</th>
			<th class="col-lg-4">Title</th>
			<th class="col-lg-4">Keywords</th>
			<th class="col-lg-1 text-center">h-index</th>
			<th class="col-lg-1 text-center">Details</th>
			<th class="col-lg-1 text-center">DBLP</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="conf in data | filter:data.filterConference">
			<td>{{ conf.acronym | uppercase }}</td>
			<td>{{ conf.title }}</td>
			<td>
				<ul class="list-unstyled">
					<li ng-repeat="keyword in conf.keywords">{{ keyword }}</li>
				</ul>
			</td>
			<td class="text-center">{{ conf.hIndex }}</td>
			<td class="text-center"><a href="#/conferences/{{ conf.id }}"><i class="glyphicon glyphicon-globe"></i></a></td>
			<td class="text-center"><a href="{{ conf.url}}" target="_blank"><i class="glyphicon glyphicon-link"></i></a></td>
		</tr>
		</tbody>
	</table>

	<div class="text-center">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="page == 0" ng-click="changePage(page-1)">Previous</button>
			</div>
			<input class="form-control" type="text" placeholder="Filter conferences" ng-model="data.filterConference">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="data[length - 1].hasMore" ng-click="changePage(page+1)">Next</button>
			</div>
		</div>
	</div>
	<br>
</div>