<div class="jumbotron">
	<div class="container">
		<h1><i class="glyphicon glyphicon-globe"></i> Conference</h1>
	</div>
</div>

<div class="container" ng-show="data.id">
	<h1>{{ data.acronym | uppercase }} - {{ data.title }}<span ng-show="data.hIndex != 0" class="pull-right label label-primary">{{ data.hIndex }}</span></h1>

	<p>
		<a ng-href="{{ data.url }}" target="_blank">{{ data.url }}</a>
		<span class="badge pull-right">{{ data.key }}</span>
	</p>

	<p>
	<ul class="list-inline">
		<li ng-repeat="keyword in data.keywords"><span class="label label-primary">{{ keyword }}</span></li>
	</ul>
	</p>

	<div class="row">
		<div class="col-lg-12" ng-show="data.cfp">
			<h2 class="page-header">Calls for Papers
				<form class="form pull-right">
					<small><input class="form-control" type="text" ng-model="data.filterCfp" placeholder="Filter CFPs"></small>
				</form>
			</h2>
			<table class="table">
				<thead>
				<tr>
					<th class="col-lg-5">Title</th>
					<th class="col-lg-2">Start</th>
					<th class="col-lg-2">End</th>
					<th class="col-lg-2 text-center">Details</th>
					<th class="col-lg-1 text-center">Website</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="cfp in data.cfp | filter:data.filterCfp | orderBy:'-start'">
					<td>{{ cfp.title }}</td>
					<td>{{ cfp.start | date:'longDate'}}</td>
					<td>{{ cfp.end | date:'longDate'}}</td>
					<td class="text-center"><a ng-href="#/cfp/{{ cfp.id }}"><i class="glyphicon glyphicon-bullhorn"></i></a></td>
					<td class="text-center"><a ng-href="{{ cfp.website }}" target="_blank"><i class="glyphicon glyphicon-link"></i></a></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-12" ng-show="data.venues">
			<h2 class="page-header">Venues
				<form class="form pull-right">
					<small><input class="form-control" type="text" ng-model="data.filterVenues" placeholder="Filter venues"></small>
				</form>
			</h2>
			<table class="table">
				<thead>
				<th class="col-lg-7">Title</th>
				<th class="col-lg-1 text-center">Year</th>
				<th class="col-lg-2">Location</th>
				<th class="col-lg-1 text-center">Details</th>
				</thead>
				<tbody>
				<tr ng-repeat="venue in data.venues | filter:data.filterVenues | orderBy:'-year'">
					<td>{{ venue.title }}</td>
					<td class="text-center">{{ venue.year }}</td>
					<td><span ng-repeat="location in venue.location">{{ location }} </span></td>
					<td class="text-center"><a ng-href="#/venues/{{ venue.id }}"><i class="glyphicon glyphicon-pushpin"></i></a></td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="col-lg-12" ng-show="data.publications">
			<h2 class="page-header">Publications
				<form class="form pull-right">
					<small><input class="form-control" type="text" ng-model="data.filterPublications" placeholder="Filter publications"></small>
				</form>
			</h2>
			<table class="table">
				<thead>
				<tr>
					<th class="col-lg-8">Title</th>
					<th class="col-lg-2">Book title</th>
					<th class="col-lg-1 text-center">Year</th>
					<th class="col-lg-1 text-center">Details</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="publication in data.publications | filter:data.filterPublications | orderBy:'-year'">
					<td>{{ publication.title }}</td>
					<td>{{ publication.booktitle }}</td>
					<td class="text-center">{{ publication.year }}</td>
					<td class="text-center"><a ng-href="#/publications/{{ publication.id }}"><i class="glyphicon glyphicon-book"></i></a></td>
				</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>