<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="MasterWebsite" ng-controller="MainCtrl"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" ng-app="MasterWebsite" ng-controller="MainCtrl"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" ng-app="MasterWebsite" ng-controller="MainCtrl"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="MasterWebsite" ng-controller="MainCtrl"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ TitleFactory.getTitle() }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/bootstrap.css">
	<link rel="stylesheet" href="styles/loading-bar.css">
	<link rel="stylesheet" href="styles/nv.d3.css">
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body>

<!-- ######################################### -->
<!-- Add your site or application content here -->
<!-- ######################################### -->

<div id="wrap">
	<div ng-include="'views/_header.html'"></div>
	<div>
		<div ng-view></div>
		<div id="push"></div>
	</div>
</div>

<footer id="footer">
	<div class="container">
		<p>Vincent Pasquier, Master thesis, 2013-2014<span class="pull-right">Sources (MIT License): <a href="https://bitbucket.org/vincentpasquier/predict">Bitbucket:
			PREDIct</a> </span></p>

		<p>Supervisors: Joël Dumoulin (EIA-FR), Julien Tscherrig (EIA-FR), Omar Abou Khaled (EIA-FR), Philippe Cudré-Mauroux (UNI-FR)</p>
	</div>
</footer>

<!-- ######################################### -->
<!-- Add your site or application content here -->
<!-- ######################################### -->


<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/vendors/jquery.js"></script>
<script src="scripts/vendors/angular.js"></script>
<script src="scripts/vendors/angular-animate.js"></script>
<script src="scripts/vendors/angular-route.js"></script>
<script src="scripts/vendors/angular-sanitize.js"></script>
<script src="scripts/vendors/ui-bootstrap.js"></script>
<script src="scripts/vendors/angular-tags.js"></script>
<script src="scripts/vendors/angular-loading-bar.js"></script>
<script src="scripts/vendors/bootstrap.js"></script>
<script src="scripts/vendors/d3.js"></script>
<script src="scripts/vendors/nv.d3.js"></script>
<script src="scripts/vendors/angularjs-nvd3-directives.js"></script>
<script src="scripts/services/httpservice.js"></script>
<script src="scripts/controllers/websockets.js"></script>
<script src="scripts/controllers/cfp/cfp.js"></script>
<script src="scripts/controllers/conferences/conferences.js"></script>
<script src="scripts/controllers/people/people.js"></script>
<script src="scripts/controllers/plugins/plugins.js"></script>
<script src="scripts/controllers/publications/publications.js"></script>
<script src="scripts/controllers/recommendation/recommendation.js"></script>
<script src="scripts/controllers/venues/venues.js"></script>
<script src="scripts/app.js"></script>
<!-- endbuild -->
</body>
</html>
