<div class="jumbotron" ng-show="page == 0">
	<div class="container">
		<h1><i class="glyphicon glyphicon-pushpin"></i> Venues</h1>

		<p>Each conference has different recurrence scheme, with the norm being yearly. A venue is a conference edition for which proceedings are published. The
			<a href="http://www.dblp.org/db/" target="_blank">DBLP dataset</a> provide only the cross-ref identification of the venue. Meta-data are extracted
			directly from conference page (i.e. <a href="http://www.informatik.uni-trier.de/~ley/db/conf/www/index.html">WWW conference</a>). Each in-proceedings
			are linked to venues which are themselves linked to conference.</p>
	</div>
</div>

<div class="container" ng-show="data.length > 0">
	<div class="text-center">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="page == 0" ng-click="changePage(page-1)">Previous</button>
			</div>
			<input class="form-control" type="text" placeholder="Filter venues" ng-model="data.filterVenues">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="data[length - 1].hasMore" ng-click="changePage(page+1)">Next</button>
			</div>
		</div>
	</div>
	<br>
	<br>
	<table class="table table-bordered">
		<thead>
		<tr>
			<th class="col-lg-6">Title</th>
			<th class="col-lg-4">Location</th>
			<th class="col-lg-1 text-center">Year</th>
			<th class="col-lg-1 text-center">Details</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="venue in data | filter:data.filterVenues">
			<td>{{ venue.title }}</td>
			<td>
				<span ng-repeat="location in venue.location">{{ location }} </span>
			</td>
			<td class="text-center">{{ venue.year }}</td>
			<td class="text-center"><a href="#/venues/{{ venue.id }}"><i class="glyphicon glyphicon-pushpin"></i></a></td>
		</tr>
		</tbody>
	</table>
	<div class="text-center">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="page == 0" ng-click="changePage(page-1)">Previous</button>
			</div>
			<input class="form-control" type="text" placeholder="Filter venues" ng-model="data.filterVenues">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="data[length - 1].hasMore" ng-click="changePage(page+1)">Next</button>
			</div>
		</div>
	</div>
	<br>
</div>