<div class="jumbotron">
	<div class="container">
		<h1><i class="glyphicon glyphicon-thumbs-up"></i> Recommendation</h1>

		<p>Input which conference (by title and/or acronym) and what specific category or keywords your are interested in analyzing topic trends and receiving
			committee recommendations. The system takes every input given by user as a "OR" filter. It broadens the search to increase abstract quantity to
			analyze.</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="tag-input-ctn" ng-show="tags.length > 0">
				<div ng-repeat="tag in tags" class="input-tag label {{tag.color}}">
					<i class="glyphicon {{tag.icon}}"></i>
					{{ tag.text }}
					<span class="btn btn-xs" ng-click="remove(tag)">
					<i class="glyphicon glyphicon-remove"></i>
				</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<form ng-submit="submitAcronyms()">
				<label for="acronymInput">Acronyms</label>
				<input id="acronymInput" class="form-control" placeholder="Type conference acronyms here..." type="text" ng-model="acronyms"
				       typeahead="type for type in getTypeAhead($viewValue, 'acronyms') | filter:$viewValue | limitTo:8">
			</form>
		</div>
		<div class="col-sm-8">
			<form ng-submit="submitTitles()">
				<label for="titlesInput">Titles</label>
				<input id="titlesInput" class="form-control" placeholder="Type conference titles here..." type="text" ng-model="titles"
				       typeahead="type for type in getTypeAhead($viewValue, 'titles') | filter:$viewValue | limitTo:8">
			</form>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-sm-12">
			<form ng-submit="submitKeywords()">
				<label for="keywordsInput">Keywords</label>
				<input id="keywordsInput" class="form-control" placeholder="Type conference keywords here..." type="text" ng-model="keywords"
				       typeahead="type for type in getTypeAhead($viewValue, 'keywords') | filter:$viewValue | limitTo:8">
			</form>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-sm-4">
			<label for="startYearInput">Start year (default 2000)</label>
			<input id="startYearInput" value="2000" type="number" ng-model="startYear" max="2013" min="1970" class="form-control" placeholder="Start year to analyze trend from">
		</div>
		<div class="col-sm-4">
			<label for="endYearInput">End year (default 2013)</label>
			<input id="endYearInput" value="2013" type="number" ng-model="endYear" max="2014" min="2004" class="form-control" placeholder="End year to analyze trend from">
		</div>
		<div class="col-sm-4">
			<label for="topicInput">Topic number (default 10)</label>
			<input id="topicInput" value="10" type="number" ng-model="topicModel" max="50" min="5" class="form-control" placeholder="Number of topic to run">
		</div>
	</div>

	<br>

	<div class="text-center">
		<button class="btn btn-primary btn-lg" ng-click="recommendation()">Topic analysis, recommendation!</button>
	</div>
	<br>
</div>