<div class="jumbotron">
    <div class="container">
        <h1><i class="glyphicon glyphicon-thumbs-up"></i> Recommendation</h1>

        <p ng-show="!Store.result">Topic analysis and committee suggestion based on input parameters. Running process,
            refer to the status box below for the current
            stage.</p>

        <p ng-show="Store.result">Below are the resulting topic trend analysis. The process to analyse topic trend is a
            topic model
            algorithm applied to each year slice. The y-axis represents the number of document associated to the given
            topic for each time slice. The x-axis is the yearly values for which documents have proportion. Each word
            presented below are issue of a detected topic from the
            query. A topic is a mixture of word probabilities,
            processed for each document in the corpus.</p>

        <p ng-show="Store.result">The suggested committee also shown below is the result of conference website
            extraction and h-index people computing based on
            their conference experience. It takes each conference h-index and sums them. The top-most proposed has the
            highest cumulative h-index and so on.</p>

        <p ng-show="Store.committee.length > 0">
            The proposed committee below is based on a cumulative h-index based on their previous experience in
            conference participation as chairs, reviewers or
            editors.
        </p>
    </div>
</div>
<div class="container" ng-show="!Store.result">
    <h1 class="page-header">Topic analysis<span ng-show="Store.status.state == 'RUNNING'">, running ...</span></h1>

    <div class="well-sm">
        <div ng-show="Store.status.state == 'ERROR'" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error</strong>

            <p ng-bind-html="Store.status.text"></p>
        </div>
    </div>
    <div class="col-lg-6" ng-show="Store.status.state != 'ERROR'">
        <blockquote ng-bind-html="Store.status.text"></blockquote>
    </div>
    <div class="col-lg-6">
        <div class="col-lg-12" ng-show="Store.status.progress">
            <p class="text-center">
                <strong>{{ Store.status.progress }}
                    <span ng-show="Store.status.totalProgress != 0"> / {{ Store.status.totalProgress }}</span>
                </strong>
            </p>

            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" role="progressbar"
                     aria-valuenow="{{ Store.status.progress }}" aria-valuemin="0" aria-valuemax="100"
                     style="{{progressStyle}}">
                    <span class="sr-only">20% Complete</span>
                </div>
            </div>
        </div>
        <div class="col-lg-12" ng-show="Store.status.subProgress">
            <p class="text-center">
                <strong>{{ Store.status.subProgress }}
                    <span ng-show="Store.status.totalSubProgress != 0"> / {{ Store.status.totalSubProgress }}</span>
                </strong>
            </p>

            <div class="progress  progress-striped active">
                <div class="progress-bar progress-bar-info" role="progressbar"
                     aria-valuenow="{{ Store.status.subProgress }}" aria-valuemin="0"
                     aria-valuemax="100" style="{{progressSubStyle}}">
                    <span class="sr-only">20% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-show="Store.result">

    <h1 class="page-header">Topic trend prediction
        <small class="pull-right">

            <div class="btn-group">
                <button class="btn btn-primary" ng-click="changeTopic(topic-1)"
                        ng-disabled="topic == 0">
                    &laquo;Previous topic
                </button>
                <button class="btn btn-primary" ng-click="changeTopic(topic+1)"
                        ng-disabled="topic == Store.nd3.length - 1">
                    Next topic &raquo;
                </button>
            </div>
        </small>
    </h1>

    <div class="row">
        <div class="col-lg-9">
            <nvd3-line-chart
                    data="Store.nd3[topic]"
                    id="PlotTopic"
                    xAxisTickFormat="xAxisTickFormatFunction()"
                    yAxisTickFormat="yAxisTickFormatFunction()"
                    width="800"
                    height="400"
                    showXAxis="true"
                    showYAxis="true"
                    showLegend="true"
                    interactive="true"
                    clipVoronoi="true">
                <svg>

                </svg>
            </nvd3-line-chart>
        </div>
        <div class="col-lg-3">
            <div class="text-center">Topic #: {{ topic + 1 }} / {{ Store.nd3.length }}</div>
            <div class="col-lg-6" ng-repeat="word in words | limitTo:40">
                {{ word }}
            </div>
        </div>
    </div>


    <label for="checkShowAll">Show all topics in one graph ?</label>
    <input class="checkbox" id="checkShowAll" type="checkbox" value="Store.showAll" ng-click="Store.showAll = !Store.showAll">

    <div ng-show="Store.showAll">

        <h1 class="page-header">All topics</h1>

        <div class="row">
            <div class="col-lg-12 text-center">
                <nvd3-line-chart
                        data="Store.all"
                        id="AllTopics"
                        xAxisTickFormat="xAxisTickFormatFunction()"
                        yAxisTickFormat="yAxisTickFormatFunction()"
                        width="1100"
                        height="400"
                        showXAxis="true"
                        showYAxis="true"
                        showLegend="true"
                        interactive="true"
                        clipVoronoi="true">
                    <svg>

                    </svg>
                </nvd3-line-chart>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <h1 class="page-header">
                Program committee suggestion<span ng-show="Store.committee">, loading </span>
            </h1>

            <div class="row" ng-show="Store.committee.length > 0 ">
                <div class="col-lg-3" ng-repeat="committee in Store.committee | limitTo:100">
                    <span class="badge">{{ committee.ranking }}</span> <a href="#/people/{{ committee.id}}">{{
                    committee.name }}</a>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>