<div class="navbar navbar-default" role="navigation" ng-show="titleShow">
	<div class="container">
		<div class="navbar-header">
			<a ng-href="#/" class="navbar-brand">PREDICT</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a ng-href="#/parameters"><i class="glyphicon glyphicon-thumbs-up"></i> Recommendation</a>
				</li>
				<li>
					<div class="btn-group navbar-btn">
						<a class="btn btn-primary" ng-href="#/resources">
							<i class="glyphicon glyphicon-th"></i> Resources</b>
						</a>
						<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a ng-href="#/cfp?page=0"><i class="glyphicon glyphicon-bullhorn"></i> Call for Papers</a></li>
							<li><a ng-href="#/conferences?page=0"><i class="glyphicon glyphicon-globe"></i> Conferences</a></li>
							<li><a ng-href="#/people?page=0"><i class="glyphicon glyphicon-user"></i> People</a></li>
							<li><a ng-href="#/publications?page=0"><i class="glyphicon glyphicon-book"></i> Publications</a></li>
							<li><a ng-href="#/venues?page=0"><i class="glyphicon glyphicon-pushpin"></i> Venues</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a ng-href="#/plugins"><i class="glyphicon glyphicon-magnet"></i> Plugins</a>
				</li>
			</ul>
			<!--<ul class="nav navbar-nav navbar-right">
				<li>
					<a ng-href="#">Tour</a>
				</li>
			</ul>-->
		</div>
	</div>
</div>