<div ng-controller="MainCtrl">
	<div class="jumbotron">
		<div class="container">
			<h1>PREDICT</h1>

			<p>Predict Conference Topic is a semantic fueled tool to recommend topic for academic conferences and committees suggestion for their organization. Facing a growth in conference competition, such tool is valuable to position the conference and to target the right audience.</p>
			<p>This website is the frontend of the system. It is divided in three main parts described below. For more informations, refer to the <a href="http://vincent.pasquier.home.hefr.ch/#/" target="_blank">Project logbook</a> or the thesis document.</p>
			<p>Master Thesis done in collaboration with the <a href="https://eia-fr.ch/" target="_blank">Ecole d'ingénieurs et d'architectes de Fribourg</a> and the <a href="http://www.unifr.ch/home/welcomeE.php" target="_blank">University of Fribourg</a>.</p>
		</div>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-lg-4">
				<h1>Recommendation</h1>

				<p>The principal tool which analyzes trends in topics and predict, through regression, the novel topic to investigate. Also offers conference committees recommendation based on authors and committees respective field ratings and experience.</p>

				<p><a href="#/parameters" class="btn btn-primary" type="button">Recommend &raquo;</a></p>
			</div>
			<div class="col-lg-4">
				<h1>Resources</h1>

				<p>Freely browsing the resources helps better understanding with what data and how the tool operates. Each data has multiple source and are merge in a semantic triple store. Refer to the following page for more information about the stored content.</p>

				<p><a href="#/resources" class="btn btn-primary" type="button">Resources &raquo;</a></p>
			</div>
			<div class="col-lg-4">
				<h1>Plugins</h1>

				<p>The whole application is done with modularity in mind. Every extractors or recommendation tool are developed as plugin. Even this website registers itself to the RESTful API for live updates. For more information about plugins refer to the following page.</p>

				<p><a href="#/plugins" class="btn btn-primary" type="button">Plugins &raquo;</a></p>
			</div>

		</div>
	</div>

</div>